<footer id="footer">
  <div class="container">
    <div class="row">
      <!-- Coluna Esquerda -->
      <div class="footer-left">
        <img src="assets/img/senaifim.jpg" alt="SENAI">
        <p>Email: exemplo&#64;exemplo.com</p>
        <p>Endereço: Avenida ABC - 123C</p>
        <p>Telefone: +55 (11) 9.9999-9999</p>
      </div>

      <!-- Coluna Direita -->
      <div class="footer-right">
        <ul class="social-links">
          <li>
            <img src="assets/img/fb.jpg" alt="Facebook" class="social-icon">
            Facebook
          </li>
          <li>
            <img src="assets/img/ig.jpg" alt="Instagram" class="social-icon">
            Instagram
          </li>
          <li>
            <img src="assets/img/wp.jpg" alt="WhatsApp" class="social-icon">
            WhatsApp
          </li>
          <li>
            <img src="assets/img/tk.jpg" alt="TikTok" class="social-icon">
            TikTok
          </li>
        </ul>
        <p class="footer-credit">&copy; Desenvolvido por Matheus B.R</p>
      </div>
    </div>
  </div>
</footer>

<!-- Botão para voltar ao topo -->
<button id="voltar-topo" type="button" class="btn btn-outline-primary" (click)="voltarAoTopo()">&uarr; Voltar ao topo</button>
